arrow==0.12.1
blessed==1.14.2
Django==2.0
django-picklefield==1.0.0
django-q==0.9.1
facebook-sdk==2.0.0
feedparser==5.2.1
future==0.16.0
oauthlib==2.0.6
psycopg2==2.7.4
python-dateutil==2.6.1
requests==2.18.4
requests-oauthlib==0.8.0
six==1.11.0
tweepy==3.5.0
uWSGI==2.0.16
wcwidth==0.1.7
