arrow==0.8.0
blessed==1.14.1
Django==1.10.3
django-picklefield==0.3.2
django-q==0.7.18
facebook-sdk==2.0.0
feedparser==5.2.1
future==0.16.0
oauthlib==2.0.1
psycopg2==2.6.2
python-dateutil==2.6.0
requests==2.12.1
requests-oauthlib==0.7.0
six==1.10.0
tweepy==3.5.0
uWSGI==2.0.14
wcwidth==0.1.7
