arrow==0.10.0
blessed==1.14.2
Django==1.11
django-picklefield==0.3.2
django-q==0.8.0
facebook-sdk==2.0.0
feedparser==5.2.1
future==0.16.0
oauthlib==2.0.2
psycopg2==2.7.1
python-dateutil==2.6.0
requests==2.14.2
requests-oauthlib==0.8.0
six==1.10.0
tweepy==3.5.0
uWSGI==2.0.15
wcwidth==0.1.7
