body {
    font-family: Verdana;
    font-size: 13px;
}
#content {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    background-color: #F6F6EF;
}
#header {
    width: 100%;
    background-color: #449D93;
}
#site-info {
    text-align: center;
    width: 120px;
}
#site-logo {
    display: inline-block;
    float: left;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    font-size: 15px;
    margin: 1px 0 0 1px;
    padding: 0 3px 0 3px;
}
#site-title h1 {
    font-family: Verdana;
    font-size: 13px;
    padding: 3px 0 3px 0;
}
#site-title a {
    color: #000000;
    text-decoration: none;
}
p.story-title {
    margin: 0 0 1px 0;
}
p.story-title a {
    text-decoration: none;
}
p.story-title a:visited {
    color: #828282;
}
p.story-title a:link {
    color: #000000;
}
p.story-title span.domain {
    color: #828282;
    font-size: 11px;
}
p.story-info {
    color: #828282;
    font-size: 9px;
    margin-top: 0;
}